
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

      <div class="grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create category form</h4>
                
                  <form class="forms-sample" action="create" method="post">
                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input name="Name" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>

                    <div class="form-group">
                      <label for="exampleTextarea1">Textarea</label>
                      <textarea name="Desc" class="form-control" id="exampleTextarea1" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <a asp-action="index" class="btn btn-dark">  Go back  </a>
                  </form>
                </div>
              </div>
            </div>

</div>

